.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

.header .logo {
    width: 80px;
    height: 60px;
    padding: 12px 25px;
    box-sizing: border-box;
    display: block;
}

.header .logo img {
    max-height: 50px
}

/* Input Search */

.header .searchbox { 
    position: relative;
    width: 50%;
    left: 510px;
    bottom: 20px;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    background: #dddddd;
}

.header .searchbox .input-search { 
    width: 100%; 
    background: rgba(0, 0, 0, 0);
    border: 0;
    padding: 12px;
    margin-left: 35px;
    font-size: 15px;
    display: block;
    outline: none;
    font-weight: bold;
}
.header .searchbox .btn-search {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    width: 60px;
    border-radius: 0 4px 4px;
    background: rgba(0, 0, 0, 0);
    font-size: 19px;
    cursor: pointer;
    outline: none;
    color: #777777;
}

/* Nav */

.header .nav {
    position: absolute;
    display: inline-block;
    top: 30%;
    right: 40px;
    line-height: 30px;
    transform: translate(-50%);
    right: -70px;
}

.header .nav li {
    line-height: 30px;
    margin-left: 30px;
}

.header .nav li a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.header .nav li:hover a  {
    background: red;
}

#divider-home-username {
    border-right: 1.5px solid #eeeeee;
    padding-right: 20px;
}

#divider-message-notification {
    padding-left: 30px;
}

#icon-message {
    font-size: 23px;
}

#icon-bell {
    font-size: 23px;
}