@import "variable"

.field
    margin: 10px
    label
        display: block
        font-weight: bold
    input, textarea
        background: $main-grey
        width: 100%
        border-radius: 5px
        margin-bottom: 10px
        border: 1px solid $main-grey
        padding: 1%
        font-size: 1rem
    textarea
        resize: none
        height: 100px
        resize: none
        font-size: 16px
        height: 100px
