@import "variable"
.is-center
    text-align: center
.is-justify-center
    justify-content: center
.is-justify-between
    justify-content: space-between
.is-justify-around
    justify-content: space-around
.is-direction-column
    flex-direction: column
.is-items-center
    align-items: center
.is-marginless
    margin: 0
.is-paddingless
    padding: 0
.is-bold
    font-weight: bold
.is-rounded
    border-radius: 20px
.is-clearfix
    clear: both
.is-right
    float: right
.is-left
    float: left
.is-relative
    position: relative
.is-block
    display: block
.is-flex
    display: flex
.is-min-h-screen
    min-height: 100vh
.is-shadow
    box-shadow: 2px 2px 2px #eeeeee
.is-avatar
    height: 32px
    width: 32px
    border-radius: 50%
    display: block
.is-image-medium
    max-width: 100%
    max-height: 100%
    display: block
.my-5
    margin: 5px 0
.my-10
    margin: 10px 0
.my-15
    margin: 15px 0
.mx-5
    margin: 0 5px
.mx-10
    margin: 0 10px
.mx-15
    margin: 0 15px
.mt-5
    margin-top: 5px
.mt-10
    margin-top: 10px
.mt-15
    margin-top: 15px
