@import "variable"

.is-center
    text-align: center

.is-justify-center
    justify-content: center

.is-justify-between
    justify-content: space-between

.is-justify-around
    justify-content: space-around

.is-items-center
    align-items: center

.is-bold
    font-weight: bold

.is-rounded
    border-radius: 8px

.is-link
    text-decoration: underline
    color: $main-grey

.is-clearfix
    clear: both

.is-right
    float: right

.is-left
    float: left
