@import "variable"
.center
    text-align: center
.align-self-center
    align-self: center
.align-self-start
    align-self: start
.justify-center
    justify-content: center
.justify-between
    justify-content: space-between
.justify-around
    justify-content: space-around
.justify-end
    justify-content: flex-end
.direction-column
    flex-direction: column
.items-center
    align-items: center
.marginless
    margin: 0
.paddingless
    padding: 0
.bold
    font-weight: bold
.rounded
    border-radius: 20px
.clearfix
    clear: both
.right
    float: right
.left
    float: left
.relative
    position: relative
.block
    display: block
.flex
    display: flex
.min-h-screen
    min-height: 100vh
.avatar
    height: 32px
    width: 32px
    border-radius: 50%
    display: block
.image
    max-width: 100%
    max-height: 100%
    display: block
