.masonry-container
  column-count: 4
  column-gap: 1em
  .masonry-item
    position: relative
    display: inline-block
    border-radius: 16px
    margin: 0 0 1em
    .masonry-image
      border-radius: 16px
    .masonry-description
      position: absolute
      bottom: 0
      padding: 8px 12px
      border-radius: 16px
      height: 50%
      overflow-y: scroll
      width: 100%
      background: rgba(0,0,0, 0.4)
      .masonry-job-title
        font-size: 26px
      .masonry-salary
        padding: 6px
        border-radius: 8px
        display: inline-block
        background-color: rgb(95, 182, 69)
      .masonry-content
        height: 40px
        overflow: hidden