$container-size: 80%
$default-padding: 2%
$default-margin: 1%
$main-white: #ffffff
$purple:  rgb(201, 152, 227)
$purple-hover: rgb(179, 128, 205)
$main-black: #000000
$danger-color: rgb(255, 62, 62)
$success-color:  rgb(90, 210, 120)
$warning-color: rgb(244, 239, 105)
$info-color: rgb(106, 172, 241)
