$container-size: 80%
$default-padding: 2%
$default-margin: 1%
$main-grey: rgba(228, 228, 228, 0.85)
$main-black: rgba(33, 33, 33, 0.85)
$danger-color: rgb(255, 62, 62)
$success-color:  rgb(144, 242, 169)
$warning-color: rgb(244, 239, 105)
$info-color: rgb(106, 172, 241)
